* {
    margin:0;
    padding:0;
    font-family:calibri;
    font-weight: lighter;

    color: #eee;
}

body {
    background-image: linear-gradient(to bottom left, #000, #111);
    height: 100vh;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    overflow: hidden;
}

div.title-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1.title {
    font-size: 4rem;
    font-weight: 700;
}

p.desc {
    font-size: 1.2rem;
    text-align: center;
}

div.message-container {
    margin-top: 60px;
    width: clamp(400px, 70vw, 900px);
    height: clamp(300px, 70vh, 700px);
    padding: 20px;
    border-radius: 15px;

    background-color: #555555;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 5px;
}

div.chat-container {
    padding: 15px;
    background-color: #121212;
    overflow-y: auto;
    border-radius: 10px;
    display: grid;
    grid-auto-rows: max-content;
    gap: 20px;
}

@media (max-width: 512px) {
    div.message-container {
        width: 100vw;
        height: 60vh;
        border-radius: 0;
        padding: 10px;
        box-sizing: border-box;
        background-color: transparent;
    }
    
    div.chat-container {
        background-color: transparent;
    }
}


div.message {
    background-color: #424242;
    padding: 15px;
    width: fit-content;
    max-width: 70%;
    height: max-content;
    border-radius: 10px;
}

div.message.user {
    justify-self: end;
}

div.message > p.name {
    font-weight: 700;
}

div.message > p.content {
    margin-top: 5px;
}

div.message.ai.waiting > p.content {
    opacity: 0.5;
}

div.input-field {
    padding: 5px;
    background-color: #424242;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

div.input-field > input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 5px;
}

div.input-field > button {
    width: fit-content;
    height: 100%;
    background-color: #222;
    color: #eee;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}